body {
	padding: 0;
	margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

$DARK: #25274d;
$SEMI-DARK: #464866;
$MID: #aaabb8;
$LIGHT: #2e9cca;
$SEMI-LIGHT: #29648a;
